<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><title>Dashboard</title></title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="container" style="margin-top: 50px;">
<title>Home</title>
</head>
<body>



</select>
<h1><%= t('welcome') %><%= user ? `, ${user.username}` : '' %>!</h1>
<% if (user) { %>
<p><a href="/manage-products"><%= t('manageProducts') %></a></p>
<p><a href="/logout"><%= t('logout') %></a></p>
<% } else { %>
<p><a href="/login"><%= t('login') %></a></p>
<p><a href="/register"><%= t('register') %></a></p>
<% } %>

<a href="/change-lang/en" class="btn btn-link">English</a>
    <a href="/change-lang/ro" class="btn btn-link">Romana</a>
</body>
</body>
</html>